.channel-container {
  width: 240px;
  height: 100%;
  background-color: rgba(32,34,37,.6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.server-title-container {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  min-height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  justify-content: space-between;
}

.server-name-container {
  width: 100%;
  align-items: center;
  // box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 48px;
  padding-left: 8px;
  padding-right: 8px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  justify-content: space-between;
}

.server-name-container:hover {
  cursor: pointer;
}

.server-name {
  font-family: 'Roboto', sans-serif;
  -webkit-box-flex: 1;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #fff;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline
}

.channel-label {
  color: #87909c;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.text-channel-item-container {
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
  position: relative;
  transition: opacity .2s ease-in-out;
  border: 0;
  min-height: 40px;
  font-size: 100%;
  margin: 0;
  outline: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.text-channel-name {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  color: #72767d;
  font-size: 12px;
  font-weight: 1000;
  line-height: 25px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  transition: color .1s ease-out;
}

.dm-text-channel-name {
  width: 100%;
  min-height: 25px;
  flex-direction: row;
  // flex: 1 1 auto;
  box-sizing: border-box;
  color: #72767d;
  font-size: 12px;
  font-weight: 1000;
  line-height: 25px;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 9px 20px;
}

.text-channel-name:hover {
  cursor: pointer;
}

.text-channel-container {
  display: flex;
  width: 100%;
  min-height: 90px;
  height: calc(100% - 61px);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.channel-list-container {
  height: 100%;
  width: 220px;
  padding: 5px;
  display: flex;;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  // width: 100%;
  &::-webkit-scrollbar{
     display: none;
   }
}

.channel-item-container {
  box-sizing: border-box;
  display: flex;
  margin: 2px;
  color: #72767d;
  font-size: 16px;
  width: 100%;
  padding: 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  min-height: 30px;
}

.channel-item-container:hover {
  background-color: #36393f;
  // background-color: #b9bbbe;
}

.channel-item-container:enabled {
  background-color: rgba(79,84,92,.6);
}

.channel-link-item {
  font-size: 16px;
  display: flex;
  position: relative;
  width: 150px;
  height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  // justify-content: space-between;
}

.channel-name-container {
  position: relative;
  height: 20px;
}

.greeting-container {
  border-top: 1px solid rgba(79,84,92,.6);
  box-sizing: border-box;
  padding: 10px;
  min-height: 52px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(32,34,37,.3);
  color: white;
}

.bottom-channels-container {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin: 0;
  outline: 0;
  border: 0;
  width: 240px;
}

.channel-control {
  z-index: 5;
}

.link-item-name {
  width: 80px;
  overflow: hidden;
  height: 20px;
  display: inline;
}

.active-channel {
  background-color: rgba(79,84,92,.6)
}

.active-name-channel {
  color: white;
  margin-left: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.channel-name-item {
  margin-left: 5px;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
