.server-dropdown-container {
  position: fixed;
  top: 62px;
  // left: 298px;
  background-color: #282b30;
    box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
  z-index: 0;
  width: 0;
  height: 0;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
  width: 0px;
  height: 0px;
  -webkit-transition: all  0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  &.server-dropdown-active {
    height: 80px;
    width: 200px;
  }
  &.server-owner {
    height: 191px;
    width: 200px;
  }
}

.server-dropdown-container:first-child {
    color: #7289da;
    &:hover {
      color: #677bc4;
    }
}

.server-dropdown-container div:first-child {
    color: #7289da;
    &:hover {
      color: #677bc4;
    }
}


.dropdown-index-item {
  box-sizing: border-box;
  padding: 10px 14px;
  font-size: 15px;
  line-height: 18px;
  color: hsla(0,0%,100%,.6);
  display: flex;
  flex-direction: row;
}

.dropdown-index-item:hover {
  cursor: pointer;
  background-color: #25282d;
  color: white;
}

.dropdown-index-title:hover {
  cursor: pointer;
}

.user-dropdown-container {
  position: fixed;
  bottom: 62px;
  left: 200px;
  background-color: #282b30;
    box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
  z-index: 2;
  width: 0;
  height: 0;
  z-index: 10;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all  0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
  &.user-dropdown-active {
    width: 150px;
    height: 78px;
  }
}

.dropdown-icon {
  color: #7289da;
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  flex-shrink: 0;
  height: 18px;
  margin-right: 14px;
  opacity: .8;
  width: 18px;
}

.dropdown-divider {
  outline: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: hsla(0,0%,96%,.08);
}

.server-acronym {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
  line-height: 20px;
}

.profile-picture-upload:hover .server-acronym {
  visibility: hidden;
}

.create-channel-icon {
  background-image: url("https://s3.amazonaws.com/dismikechan-app-name-dev/create_channel.svg")
}

.delete-server-icon {
  background-image: url("https://s3.amazonaws.com/dismikechan-app-name-dev/delete.svg")
}

.edit-server-icon {
  background-image: url("https://s3.amazonaws.com/dismikechan-app-name-dev/server_edit.svg")
}

.invite-users-icon {
  background-image: url("https://s3.amazonaws.com/dismikechan-app-name-dev/invite_users.svg");
}

.leave-server-icon {
  background-image: url("https://s3.amazonaws.com/dismikechan-app-name-dev/exit.svg")
}

.dropdown-child {
  z-index: 25;
  position: absolute;
  transform: translate(-50%, -50%);
}

.dropdown-container {
  z-index: 25;
}

.dropdown-context-container {
  z-index: 25;
  background: #18191c;
  box-shadow: 0 0 1px rgba(0,0,0,.82), 0 1px 4px rgba(0,0,0,.1);
  cursor: default;
  border-radius: 5px;
  display: inline-block;
  position: fixed;
  width: 170px;
}

.dropdown-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  z-index: 10;
}
