.channel-update-form-container {
  padding: 20px;
  background-color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
}

.channel-delete-form-container {
  max-height: 660px;
    min-height: 150px;
  min-width: 200px;
  max-width: 440px;
  background-color: #202225;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
}

.purple {
  color: #7289da;
}

.purple-back {
  background: #7289da;
}

.purple-back:hover {
  background: #7289da;
}

.green {
  color: #3ca374;
}

.green-back {
  background-color: #3ca374;
}

.channel-input-field {
  border: 0;
  border-bottom: 1px solid grey;
  background-color: inherit;
  outline: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  font-family: 'Open Sans',Helvetica,Helvetica,Arial,sans-serif;

}

.channel-input-field:focus {
  border-bottom: 2px solid #7289da;
}

.channel-submit-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.channel-delete-message {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  color: #dcddde;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  // text-transform: uppercase;
  font-family: 'Open Sans',Helvetica,Helvetica,Arial,sans-serif;
}

.display-form-message-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
