.channel-update-form-container {
  padding: 20px;
  background-color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
}

.channel-delete-form-container {
  max-height: 660px;
    min-height: 150px;
  min-width: 200px;
  max-width: 440px;
  background-color: #202225;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
}

.server-modal-container {
  background-color: #202225;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px;
  border-radius: 5px;
}

.profile-picture-upload {
  border: none;
  height: 100px;
  width: 100px;
  background-size: 100% 100%;
  background-color: #7289da;
background-position: 50%;
background-repeat: no-repeat;
border-radius: 50%;
box-sizing: border-box;
display: inline-block;
margin-bottom: 10px;
    position: relative;
}

.icon-preview {
  background-size: 100% 100%;
  border: none;
  height: 100px;
  width: 100px;
  background-color: #7289da;
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-sizing: border-box;
  display: inline-block;
}

.profile-picture-update-container {
  width: 100%;
  padding-bottom: 10px;
  align-items: center;
    display: flex;
    flex-direction: column;
}

.profile-picture-hint {
  z-index: 15;
  font-size: 10px;
font-weight: 700;
line-height: 12px;
text-transform: uppercase;
visibility: hidden;
white-space: pre;
align-items: center;
bottom: 0;
color: #fff;
display: flex;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;

}

.icon-preview:hover {
  -webkit-box-shadow: inset 0 0 120px rgba(0,0,0,.75);
  box-shadow: inset 0 0 120px rgba(0,0,0,.75);
}
.profile-picture-upload:hover .profile-picture-hint {
  visibility: visible;
}

#fileUploadInput {
  position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
opacity: 0;
cursor: pointer;
}


.channel-input-field {
  border: 0;
  border-bottom: 1px solid grey;
  background-color: inherit;
  outline: 0;
  color: white;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 10px;
  font-family: 'Open Sans',Helvetica,Helvetica,Arial,sans-serif;

}

.channel-input-field:focus {
  border-bottom: 2px solid #7289da;
}

.channel-submit-buttons {
  display: flex;
  flex-direction: row-reverse;
}

.channel-delete-message {
  text-overflow: ellipsis;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 20px;
  padding-top: 0;
  color: #dcddde;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  // text-transform: uppercase;
  font-family: 'Open Sans',Helvetica,Helvetica,Arial,sans-serif;
}

.display-form-message-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
