.friends-logo {
  background-color: rgba(79,84,92,.6);
  color: #fff;
  width: 90%;
  min-height: 35px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  // margin: 0 auto;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
}

.user-search {
  width: 100%;
  background: transparent;
  border: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  flex: 1;
  font-family: Roboto;
  font-size: 12px;
  height: 26px;
  min-width: 50px;
  outline: none;
  resize: none;
  background-color: rgba(0,0,0,.2);
}

.user-search-inner {
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  color: #fff;
  flex: 1;
  font-family: Roboto;
  font-size: 12px;
  height: 26px;
  min-width: 50px;
  outline: none;
  padding: 5px 7px;
  resize: none;
  background-color: rgba(0,0,0,.2);
}

.user-search-inner:hover {
  cursor: pointer;

}

.friend-nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.friend-active-selector:hover {
  color: #36393e;
  background-color: white;
}


.friend-selector {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  border-bottom: 1px hsla(0,0%,100%,.1);
  // justify-content: space-between;

}


.friend-active-selector:hover {
  color: #36393e;
  background-color: white;
}

.add-friend-button {
  background-color: #7289da;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
}

.add-friend-button:hover {
  cursor: pointer;
}

.friend-selector-item {
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0 8px;
  min-width: 40px;
  padding: 2px 8px;
  border-radius: 5px;
  text-align: center;
  color: hsla(0,0%,100%,.6);
  font-style: Roboto;
  &:hover {
    cursor: pointer;

  };
  &.friend-active-selector {
    color: #36393e;
    background-color: white;
    &:hover{
      background-color: white;
    };
  };
}

.verticle-separator {
  height: 22px;
  content: "";
  width: 1px;
  background-color: hsla(0,0%,100%,.1);
  margin-left: 10px;
  margin-right: 10px;
}

.friend-list-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.friend-table-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  margin-top: 10px;
  flex-direction: row;
  padding: 5px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  align-items: center;
}

.friend-table-tab {
  width: 200px;
  color: hsla(0,0%,100%,.3);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
    font-weight: 500;
    letter-spacing: .025em;
    text-transform: uppercase;
    margin-left: 50px;
}

.friend-form-container {
  background-color: #202225;
  width: 300px;

}

.friend-index-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}

.friend-submit-form {

}

.friend-index-container:first-child {
  border-top: 0;
}

.friend-index-container li:first-child {
  border-top: 0;
}

.friend-item-container {
border-top: 1px solid hsla(0,0%,100%,.1);
}

.friend-index-container:first-child {
  border-top: 0;
}

.friend-pic {
  margin-right: 10px;
}

.friend-name {
  color: hsla(0,0%,100%,.6);
  font-family: Roboto;
  font-weight: 400;
}

.friend-link-item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  align-items: center;
}

.status-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.online-status {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: grey;
}

.friend-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
}

.status-name {
  color: hsla(0,0%,100%,.4);
  font-family: Roboto;
  font-weight: 200;
  font-size: 16px;
}
