.friends-logo {
  background-color: rgba(79,84,92,.6);
  color: #fff;
  width: 90%;
  align-self: center;
  min-height: 35px;
  display: flex;
  flex-direction: row;
  // justify-content: center;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  // margin: 0 auto;
  align-items: center;
  margin-top: 10px;
  border-radius: 5px;
  padding: 8px;
}

.personwaving {
  height: 24px;
  margin-right: 18px;
  opacity: .6;
  transition: opacity .05s;
  width: 24px;
}

.friends-name {
  -webkit-box-flex: 1;
  color: #f6f6f7;
  flex-grow: 1;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  // opacity: .3;
  overflow: hidden;
  padding-right: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mutual-servers-container {
  width: 250px;
  height: 100%;
  margin-right: 500px;
  align-items: center;
  display: flex;
  overflow: hidden;
}

.user-search {
  width: 100%;
  background: transparent;
  border: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  flex: 1;
  font-family: Roboto;
  font-size: 12px;
  height: 26px;
  min-width: 50px;
  outline: none;
  resize: none;
  background-color: rgba(0,0,0,.2);
}

.user-search-inner {
  width: 100%;
  border: 1px solid rgba(0,0,0,.1);
  box-sizing: border-box;
  color: #fff;
  flex: 1;
  font-family: Roboto;
  font-size: 12px;
  height: 26px;
  min-width: 50px;
  outline: none;
  padding: 5px 7px;
  resize: none;
  background-color: rgba(0,0,0,.2);
}

.user-search-inner:hover {
  cursor: pointer;

}

.friend-nav-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.friend-active-selector:hover {
  color: #36393e;
  background-color: white;
}


.friend-selector {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  min-height: 48px;
  padding: 0 12px 0 16px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  border-bottom: 1px hsla(0,0%,100%,.1);
  // justify-content: space-between;

}


.friend-active-selector:hover {
  color: #36393e;
  background-color: white;
}

.add-friend-button {
  background-color: #7289da;
  box-sizing: border-box;
  padding: 5px;
  border-radius: 3px;
}

.add-friend-button:hover {
  cursor: pointer;
}

.friend-selector-item {
  line-height: 18px;
  font-family: 'Roboto', sans-serif;
  margin: 0 8px;
  min-width: 40px;
  padding: 2px 8px;
  border-radius: 5px;
  text-align: center;
  color: hsla(0,0%,100%,.6);
  font-style: Roboto;
  &:hover {
    cursor: pointer;
    background-color: #2f3136;
  };
  &.friend-active-selector {
    color: #36393e;
    background-color: white;
    &:hover {
      cursor: pointer;
      background-color: white;
    };
  };
}

.verticle-separator {
  height: 22px;
  content: "";
  width: 1px;
  background-color: hsla(0,0%,100%,.1);
  margin-left: 10px;
  margin-right: 10px;
}

.friend-list-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.friend-table-header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  // margin-top: 10px;
  flex-direction: row;
  // padding: 5px;
  min-height: 48px;
  border-bottom: 1px solid hsla(0,0%,100%,.1);
  align-items: center;
}

.friend-table-tab {
  min-width: 200px;
  color: hsla(0,0%,100%,.3);
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: .025em;
  text-transform: uppercase;
  margin-left: 50px;
  &.status {
    min-width: 250px;
  }
}

.friend-form-container {
  background-color: #202225;
  width: 300px;

}

.friend-index-container {
  height: calc(100% - 49px);
  display: flex;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  &::-webkit-scrollbar-track{
     border-radius: 20px;
     right: 20px;
     background-color: #484B53;
     visibility: hidden;
     // border: 3px solid #484B53;
   }
  &::-webkit-scrollbar {
     width: 5px;
     right: 5px;
     border-right: 10px;
     border-radius: 20px;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    right: 3px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #2F3136;
    // border: 3px solid #484B53;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: contents;
      visibility: visible;
    };
  }
}

.friend-submit-form {

}

.friend-index-container:first-child {
  border-top: 0;
}

.friend-index-container li:first-child {
  border-top: 0;
}

.friend-item-container {
  height: 62px;
  // display: none;

  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
  border-top: 1px solid hsla(0,0%,100%,.1);
  &:hover {
    background: #414449;
    border-color: transparent;
    border-radius: 3px;
    box-shadow: 0 2px 1px 0 rgba(0,0,0,.1);
  }
}

.friend-item-container:hover .friend-controls-container {
  display: flex;
}

.friend-index-container:first-child {
  border-top: 0;
}

.friend-pic {
  margin-right: 10px;
}

.friend-transition-enter.friend-transition-enter-active {
  transition: height 2s ease-in;
  height: 62px
}

.friend-transition-leave.friend-transition-leave-active {
  height: 0px;
  transition: height 2s ease-in;
}

.server-icon-pic {
  height: 30px;
  width: 30px;
  box-sizing: border-box;
  border-radius: 50%;
  color: white;
  align-items: center;
  background-color: #2f3136;
  margin-right: 5px;
  text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 15px;
}

.friend-name {
  color: hsla(0,0%,100%,.6);
  font-family: Roboto;
  font-weight: 400;
}

.friend-link-item {
  display: flex;
  height: 100%;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
}

.status-container {
  display: flex;
  height: 100%;
  flex-direction: row;
  align-items: center;
  min-width: 250px;
  margin-right: 70px;
}

.online-status {
  height: 10px;
  width: 10px;
  border-radius: 5px;
  margin-right: 5px;
}

.online {
  background-color: green;
}

.offline {
  background-color: grey;
}

.friend-name-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-width: 200px;
  margin-right: 70px;
}

.status-name {
  color: hsla(0,0%,100%,.4);
  font-family: Roboto;
  font-weight: 200;
  font-size: 16px;
}

.friend-controls-container {
  align-items: center;
  height: 100%;
  width: 250px;
  display: none;
  // flex-direction: row-reverse;
  justify-content: flex-end;
}

.friend-controls-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 42px;
  background-color: #2f3136;
  border-radius: 3px;
  color: white;
  margin-right: 2px;
}

.friend-controls-button:hover {
  background-color: rgb(240, 71, 71);
  transition: background-color .2s;
  cursor: pointer;

}
