

.fafaicons-container {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.fafaplus {
  background-color: transparent;
  border: none;
  outline: none;
  color: #72767d;
  font-size: 20px;
  font-weight: 400;
}

.channel-edit {
  color: teal;
}

.fafaplus:hover {
  cursor: pointer;
}

.fa-plus{
  font-size: 20px;
}

.fa-trash-alt {
  font-size: 15px;
  color: red;
}

.fa-edit {
  font-size: 15px;
  color: inherit;
}

.fa-times-circle {
  font-size: 30px;
  color: red;
}

.fa-sign-out-alt {
  // font-size: 30px;
  // color: orange;
}

.fa-users {
  font-size: 30px;
  color: white;
}

.fa-user-friends {
  color: white;
  font-size: 15px;
}

//
.fa-plus:hover{
  cursor: pointer;
}

.fa-trash-alt:hover {
  cursor: pointer;
}

.fa-edit:hover {
  cursor: pointer;
}

.fa-times-circle:hover {
  cursor: pointer;
}

.fa-sign-out-alt:hover {
  cursor: pointer;
}

.fa-users:hover {
  cursor: pointer;
}

.fa-user-friends:hover {
  cursor: pointer;;
}

.fa-cogs:hover {
  cursor: pointer;
}



.dropbtn {
  background-color: inherit;
  width: 100%;
  border: none;
  cursor: pointer;
  }


  /* The container <div> - needed to position the dropdown content */
  .dropdown {
      position: relative;
      display: inline-block;
      width: 100%;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
      display: none;
      position: absolute;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
  }
