.fafaicons-container {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
}

.fafaplus {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  size: 20px
}

.fa-plus{
  font-size: 20px;
}

.fa-trash-alt {
  font-size: 15px;
  color: red;
}

.fa-edit {
  font-size: 15px;
  color: teal;
}

.fa-times-circle {
  font-size: 30px;
  color: red;
}

.fa-sign-out-alt {
  font-size: 30px;
  color: orange;
}

.fa-users {
  font-size: 30px;
  color: white;
}
