// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message-container {
  height: 100%;
  background-color: #36393e;
  width: calc(100% - 70px - 240px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.channel-title-name-container {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  justify-content: space-between;
}

.channel-actual-name {
  color: white;
  margin-left: 10px;
  max-width: 1300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-title-name {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #72767d;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  max-width: 1300px;
  display: inline-flex;
}

.bottom-message-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin: 0;
  outline: 0;
  border: 0;
  width: 100%;
  padding-left: 10px;
  padding-right: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.message-list-container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  &::-webkit-scrollbar-track{
     border-radius: 20px;
     margin-top: 5px;
     margin-bottom: 10px;
     right: 20px;
     background-color: #2F3136;
     border: 3px solid #36393E;
   }
  &::-webkit-scrollbar {
     width: 14px;
     border-right: 10px;
     border-radius: 20px;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #202225;
    border: 3px solid #36393e;
}
}

.message-form {
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  height: auto;
  margin-right: 20px;
  // border-top: 1px
  box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
}

.message-body {
  // box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
  box-sizing: border-box;
  // padding-left: 30px;
  // padding-right: 30px;
  // padding-bottom: 20px;
  padding-top: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba(32,34,37,.3);
  color: white;
  width: 100%;
}

.form-input {
  width: 100%;
}

.message-input-field {
  // box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #484B53;
  width: 100%;
  margin-top: 0px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  min-height: 14px;
  max-height: 56px;
  font-size: 14px;
  font-weight: 400;
  resize: none;
  user-select: text;
  -ms-overflow-style: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.message-item-container {
  display: flex;
  padding: 20px 0;
  user-select: text;
  overflow-wrap: break-word;
  word-wrap: break-word;
  min-height: 50px;
  width: 100%;
  // padding: 10px;
}

.message-content {
  color: hsla(0,0%,100%,.7);
  font-size: 0.9375rem;
  line-height: 1.1em;
  margin-top: 6px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.message-name {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
  color: gray;
}

.need-space {
  margin-right: 20px;
  color: teal;
}

.bottom-container {
  height: 100%;
  width: 100%;
  display: flex;
}
