// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bottom-container-divider {
  height: 100%;
  width: 100%;
  display: flex;
}

.message-container {
  width: calc(100% - 240px);
  background-color: #36393e;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.empty-channel-container {
  margin: 0 auto;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    max-width: 440px;
    justify-content: center;

}

.empty-channel-icon {
  background-image: url('empty-channel.svg');
  flex: 0 1 auto;
    width: 272px;
    height: 222px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.empty-channel-text {
  color: #72767d;
  margin: 0 auto;
  align-items: center;
}

.no-channel-text {
  font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    text-transform: uppercase;
  text-align: center;
}

.empty-channel-message {
  text-align: center;
  margin-top: 8px;
}

.channel-title-name-container {
  width: 100%;
  align-items: center;
  box-shadow: 0 1px 0 rgba(0,0,0,.2), 0 2px 0 rgba(0,0,0,.06);
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 48px;
  padding: 0 12px 0 16px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-size: 100%;
  font-style: inherit;
  justify-content: space-between;
}

.channel-actual-name {
  color: white;
  margin-left: 10px;
  max-width: 1300px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-title-name {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 48px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #72767d;
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
  vertical-align: baseline;
  max-width: 1300px;
  display: inline-flex;
}

.bottom-message-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
  margin: 0;
  outline: 0;
  border: 0;
  width: calc(100% - 240px);
  padding-left: 10px;
  padding-right: 1px;
  padding-left: 10px;
  padding-bottom: 10px;
}

.message-list-container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  box-sizing: border-box;
  &::-webkit-scrollbar-track{
     border-radius: 20px;
     margin-top: 5px;
     margin-bottom: 10px;
     right: 20px;
     background-color: #2F3136;
     border: 3px solid #36393E;
   }
  &::-webkit-scrollbar {
     width: 14px;
     border-right: 10px;
     border-radius: 20px;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #202225;
    border: 3px solid #36393e;
}
}

.message-form {
  box-sizing: border-box;
  padding-top: 10px;
  width: 100%;
  height: auto;
  margin-top: 1px;
  margin-right: 20px;
  // border-top: 1px
  box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
}

.message-body {
  // box-shadow: 0 -1px 0 hsla(0,0%,100%,.06);
  box-sizing: border-box;
  // padding-left: 30px;
  // padding-right: 30px;
  // padding-bottom: 20px;
  padding-top: 6px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // background-color: rgba(32,34,37,.3);
  color: white;
  width: 100%;
}

.form-input {
  width: 100%;
}

.message-input-field {
  width: 100%;
  // box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  background: #484B53;
  margin-top: 0px;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  height: 56px;
  font-size: 14px;
  font-weight: 400;
  resize: none;
  user-select: text;
  -ms-overflow-style: none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.message-item-container {
  display: block;
  padding: 20px 0;
  user-select: text;
  // overflow: auto;
  word-wrap: normal;
  height: auto;
  box-sizing: border-box;
  width: 100%;
  -moz-user-select: text;
   -ms-user-select: text;
   -webkit-box-sizing: border-box;
   -webkit-user-select: text;
   border-bottom: 1px solid #474a4f;
   box-sizing: border-box;
   display: -webkit-box;
   display: -ms-flexbox;
   // display: flex;
   // margin-left: 20px;
   // margin-right: 6px;
   // user-select: text;
   // overflow: auto;
   // word-wrap: break-word;

}

.message-item-container:last-child {
  border-bottom: 0;
}

.message-timestamp {
  color: hsla(0,0%,100%,.2);
  font-size: 0.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin-left: 6px;
  text-transform: none;
  text-align: center;
  align-items: baseline;
}

.message-content {
  width: 100%;
  color: hsla(0,0%,100%,.7);
  font-size: 18px;
  line-height: 20px;
  // margin-top: 6px;
  // white-space: pre-wrap;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.message-header {
  margin-bottom: 8px;
  height: 20px;
  width: 100%;
  display: flex;
  font-size: 18px;
  line-height: 20px;
  flex-direction: row;
  margin-right: 10px;
  color: gray;
  align-items: baseline;
}

.message-content-body {
  height: auto;
  width: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

.message-content-body:after
{
  content: "";
  display:block;
  clear:both;
  visibility:hidden;
}

.message-user-name {
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  margin-right: 20px;
  color: blue;
}

.grouped-message-list {
  height: auto;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  text-align: center;
}

.bottom-container {
  height: calc(100% - 48px);
  width: 100%;
  display: flex;
}

.message-index-divider {
  width: 100%;
  -webkit-box-align: center;
  align-items: center;
  cursor: default;
  display: -webkit-box;
  display: flex;
  align-items: center;
  height: 0;
  position: relative;
  z-index: 0;
}

.message-index-divider div {
  height: 1px;
  background: #474a4f;
  -webkit-box-flex: 1;
  flex: 1;
  position: relative;
  content: "";
}


.message-index-divider-text {
  background-color: #36393e;
  text-align: center;
  align-items: center;
  color: rgba(153,170,181,.5);
  border-radius: 8px;
    color: #99aab5;
    font-size: 14px;
    font-weight: 500;
    line-height: 19px;
    padding: 0 10px;
    position: relative;
    z-index: 2;
}

.message-beginning-container {
  background-image: url('messagebeginning.png');
  border-color: hsla(0,0%,100%,.02);
  background-position: 0 100%,100% 100%;
  background-repeat: no-repeat,no-repeat;
  background-size: 192px 80px,216px 64px;
  border-width: 0 0 1px;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  min-height: 100px;
  width: 100%;
  justify-content: flex-end;
  padding-bottom: 14px;
}

.message-beginning-text {
  color: #949494;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
}
