.search-input-field {
  background-color: #72767d;
  box-shadow: 0 2px 5px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0,.1);
  color: #fff;
  border-radius: 5px;
  display: block;
  flex: 1;
  font-size: 22px;
  height: 70px;
  line-height: 70px;
  padding: 0 12px;
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
  border: none;
  outline: 0;
  &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(255, 255, 255, 0.5);
    opacity: 0.5; /* Firefox */
  }
}

.user-search-form-container {
  height: 365px;
  width: 570px;
  outline: 0;
  border: 0;
}

.search-input-container {
  background-color: #2f3136;
  color: #dcddde;
  box-sizing: border-box;
  align-items: stretch;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,.2), 0 0 0 1px rgba(28,36,43,.6);
  -webkit-box-align: stretch;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 0;
  position: relative;
  width: 570px;
}

.tips-nav-bar {
  border-color: rgba(79,84,92,.3);
  color: #72767d;
  box-sizing: border-box;
  border-top: 1px solid rgba(79,84,92,.3);
  display: flex;
  font-size: 12px;
  overflow: hidden;
  padding-bottom: 10px;
  padding-top: 10px;
  &.tips-with-results {
    margin-top: 10px;
  }
  &.tips-without-results {
    margin-top: 0;
  }
}

.tips-nav-controls {
  display: block;
  height: 23px;
  -webkit-box-flex: 1;
    flex: 1;
}

.keybind-controls {
  color: #f6f6f7;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  font-size: 12px;
  font-weight: 600;
  line-height: 12px;
  margin-left: 14px;
  margin-right: 0;
  text-transform: uppercase;
}

.keybind-controls:last-of-type {
  margin-right: 14px;
}

.keybind-controls:first-of-type {
  margin-left: 0;
  margin-right: 14px;
}

.keybind-controls > span {
  background-color: #72767d;
  border: 1px solid #202225;
  box-shadow: inset 0 -4px 0 rgba(35,39,42,.6);
  color: #f6f6f7;
  margin-right: 0;
  border-radius: 2px;
  cursor: default;
  display: block;
  height: 23px;
  min-height: 14px;
  min-width: 14px;
  padding: 3px 6px 4px;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}

.keybind-esc::before {
  content: "";
  height: 20px;
  left: -8px;
  position: absolute;
  top: 0;
  width: 1px;
  background-color: #4f545c;
}

.search-results {
  margin-right: -17px;
  margin-top: -5px;
  overflow: auto;
  padding-right: 0;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  display: flex;
  flex: 1;
  height: 100%;
  min-height: 1px;
}

.search-scroller {
  max-height: 236px;
  padding-right: 3px;
  -webkit-box-flex: 1;
  contain: layout;
  flex: 1;
  min-height: 1px;
  overflow-y: scroll;
  &::-webkit-scrollbar-track{
     // border-radius: 20px;
     // margin-top: 5px;
     // margin-bottom: 10px;
     // right: 20px;
     background-color: transparent;
      border-color: transparent;
     background-color: #2e3338;
     background-color: rgba(0,0,0,.1);
     background-clip: padding-box;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
     // border: 3px solid #36393E;
   }
  &::-webkit-scrollbar {
     // width: 8px;
         width: 14px;
     border-right: 10px;
     border-radius: 20px;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background-color: #202225;
    background-color: rgba(0,0,0,.4);
    border-color: transparent;
    background-clip: padding-box;
    border-radius: 7px;
    border-style: solid;
    border-width: 3px;
    // border: 3px solid #36393e;
  }
}

.empty-search-result {
  background: no-repeat 50% 20px;
  font-weight: 500;
  padding-bottom: 20px;
  padding-top: 150px;
  text-align: center;
  box-sizing: border-box;
  background-image: url('https://s3.amazonaws.com/dismikechan-app-name-dev/empty-search.svg')
}

.empty-search-note {
  font-size: 16px;
  line-height: 20px;
  color: #72767d;
}

.default-index-search {
  border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    height: 34px;
    overflow: hidden;
    position: relative;
  &.focused-search-result {
    background-color: rgba(32,34,37,.6);
  }
}

.search-result-icon-container {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-right: 5px;
  width: 20px;
}

.search-result-icon {
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  background-position: 50%;
  border-radius: 50%;
  position: relative;
  background-clip: padding-box;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 10px;
  color: #72767d;
  background-color: rgba(0,0,0,.3);
}

.search-header {
  color: #b9bbbe;
  font-size: 12px;
    font-weight: 600;
    letter-spacing: .025em;
    line-height: 30px;
    margin-top: 4px;
    text-transform: uppercase;
}

.search-content {
  display: flex;
  flex-direction: row;
  height: 34px;
  line-height: 34px;
  overflow: hidden;
  padding: 0 10px;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  color: #b9bbbe;
}

.search-item-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
