// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-container {
  width: 70px;
  height: 100%;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  &::-webkit-scrollbar{
     display: none;
   }
}

.server-list {
  max-height: 500px;
  display: flex;;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  &::-webkit-scrollbar{
     display: none;
   }
}

.separator {
  background-color: rgb(47, 49, 54);
  padding: 1px;
  z-index: 20;
  content: " ";
  width: 30px;
  margin: 5px;
}

.direct-message-link {
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.server-icons {
  position: relative;
  height: 50px;
  min-height: 50px;
  width: 50px;
  background-color: rgb(47, 49, 54);
  // background-color: #2f3136;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 5px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;

}

.server-icons:focus {
  outline: 0;
}

.server-icons:hover {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  transition: border-radius 1s ease, background-color 1s ease;
}

.server-icons:focus {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  transition: border-radius 1s ease, background-color 1s ease;
}


.delete-server {
  z-index: 5;
  background-color: white;
}

#create-server-form {
  border: 1px dashed #535559;
  background: #1e2124;
  font-size: 35px;
  font-weight: 500;
  color: #535559;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 10px;
  min-height: 50px;
  width: 50px;

}

#create-server-form:focus {
  outline: 0;
}

#create-server-form:hover {
  color: white;
  border-color: white;
}

.create-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: inherit;
  line-height: 100%;
  padding: 25;
}

.create-sign:hover {
  color: inherit;
  cursor: pointer;
}

.server-form-container {
  height: 300px;
  width: 250px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #87909c;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.server-label {
  color: #87909c;
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.server-input-field {
  height: 30px;
  border: 0;
  outline: 0;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  font-size: 13px;
  color: black;
  font-weight: 400;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.server-input-field:focus {
  border-bottom: 2px solid #7289da;
}

.form-title {
  font-weight: 900;
}

.spaceholder {
  width: 149px;
  height: 45px;
  content: " ";
}

.server-links {
  padding: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;

}
