// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-container {
  width: 88px;
  height: 95%;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// .server-item {
//   // background-color: #2f3136;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
.separator {
  background-color: rgb(47, 49, 54);
  height: 2px;
  z-index: 20;
  content: " ";
  width: 30px;
}

.direct-message-link {
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.server-icons {
  height: 50px;
  width: 50px;
  background-color: rgb(47, 49, 54);
  // background-color: #2f3136;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 10px;
  border-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.server-icons:hover {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  transition: border-radius 1s ease, background-color 1s ease;
}

.delete-server {
  z-index: 5;
  background-color: white;
}

#create-server-form {
  border: 1px dashed #535559;
  background: #1e2124;
  font-size: 35px;
  font-weight: 500;
  color: #535559;
  line-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

#create-server-form:hover {
  border-color: white;
}

.create-sign {
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  line-height: 100%;
  height: 49px;
  width: 49px;
}

.create-sign:hover {
  color: white;
  cursor: pointer;
}

.server-form-container {
  height: 300px;
  width: 500px;
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}
