// Place all the styles related to the servers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.server-container {
  width: 88px;
  height: 95%;
  background-color: #202225;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

// .server-item {
//   // background-color: #2f3136;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
// }
.separator {
  background-color: rgb(47, 49, 54);
  height: 2px;
  z-index: 20;
  content: " ";
  width: 30px;
}

.direct-message-link {
  border-bottom: 1px solid white;
  margin-bottom: 50px;
}

.server-icons {
  height: 50px;
  width: 50px;
  background-color: rgb(47, 49, 54);
  // background-color: #2f3136;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 25px;
  margin: 10px;
  border-style: none;
}

.server-icons:hover {
  border-radius: 15px;
  background-color: rgb(114, 137, 218);
  transition: border-radius 1s ease, background-color 1s ease;
}

.delete-server {
  z-index: 99;
  background-color: white;
}
