// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-img-0 {
  background-image: url(https://na.leagueoflegends.com/sites/default/files/upload/art/wp_alistar_vs_olaf_1920x1080.jpg);
}
.background-img-1 {
  background-image: url(https://pre00.deviantart.net/961e/th/pre/f/2014/167/d/9/maplestory_background___pantheon_by_thehardworkingaj-d7mmhde.png);
}
.background-img-2 {
  background-image: url(https://images5.alphacoders.com/844/thumb-1920-844969.jpg);
}
.background-img-3 {
  background-image: url(https://images.alphacoders.com/536/thumb-1920-536215.jpg);
}
.background-img-4 {
  background-image: url(https://images3.alphacoders.com/108/thumb-1920-108819.jpg);
}
.background-img-5 {
  background-image: url(https://images.alphacoders.com/789/thumb-1920-789452.jpg);
}
.background-img-6 {
  background-image: url(https://images5.alphacoders.com/322/322554.jpg);
}
.background-img-7 {
  background-image: url(https://www.hdwallpapers.in/walls/overwatch_4k-HD.jpg);
}
.background-img-8 {
  background-image: url(https://wallpapercave.com/wp/Yv9IMNq.jpg);
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.session-page {

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
  height: 100%;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}


.session-container {
  // background-color: white;
  height: 500px;
  width: 500px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-self: center;
  align-items: center;
  border-radius: 5px;
  // padding: 20px;
  overflow: hidden;
  position: relative;
}

.left-form-container-signup {
  height: 396px;
  width: 35%;
  border-right: 1px black;
  background: hsla(0,0%,100%, .9);
  justify-content: center;
  align-items: stretch;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  background-image: image-url('Discord-Logo-Black.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.left-form-container-login {
  height: 335px;
  width: 35%;
  border-right: 1px black;
  background: hsla(0,0%,100%, .9);
  justify-content: center;
  align-items: stretch;
  z-index: 1;
  margin: 0 auto;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-end;
  background-image: image-url('Discord-Logo-Black.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}


.change-form {
  color: #87909c;
  font-size: 10px;
  line-height: 14px;
  margin-bottom: 0;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Roboto', sans-serif;
  margin: 10px;
  align-self: center;
  font-size: 15px;
  text-align: center;
  color: white;
  font-weight: 1900;
  margin: 0, auto;
}

.logo-text {

  padding: 10px;
  align-self: center;
  font-size: 30px;
  text-align: center;
  color: skyblue;
  margin: 0, auto;
}


.input-name {
  color: #87909c;
  display: block;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
}

.input-field {
  width: 290px;
  height: 30px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #f0f0f0;
  border-bottom-color: hsla(0,0%,100%,.1);
  margin-bottom: 20px;
  font-size: 13px;
  color: white;
  font-weight: 200;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.input-field:focus {
  border-bottom: 2px solid white;
}

.input-field:hover {
  cursor: text;
}


.errors-list {
  height: 25px;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error-item {
  font-size: 11px;
  color: red;
}


.right-form {
  background: rgba(40,43,48,.75);
  width: 65%;
  margin: auto;
  height: 100%;
  // filter: blur(3px);
  z-index: 1;
}

.right-form-content {
  z-index: 10;
  filter: none;
  filter: blur(0px);
  padding: 15px;
}

.image-container {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0, auto;
  position: relative;
  top: 50px;
}

#dismikelogo {
  height: 100%;
  max-width: 100%;
  // max-height: 100%;
  // display: block;
  // top: 20px;
  // margin: 0, auto;
  position: relative;
  text-align: center;
  align-self: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.session-form {
  margin: auto;
}

.sessionLinks {
  color: white;
  font-weight: bold;
}

.sessionLinks:hover{
  text-decoration: underline;
  cursor: pointer;
}

.submit-form {
  background: #7289da;
  border: none;
  color: #fff;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  border-radius: 5px;
}

.submit-form:hover {
  background-color: #697ec4;
  cursor: pointer;
}

.blur {
  background-size: cover;
  z-index: 0;
  filter        : blur(10px);
  -moz-filter   : blur(10px);
  -webkit-filter: blur(10px);
  -o-filter     : blur(10px);
  position: absolute;
  width: 100%;
  height: 100%;
  content: " ";

}
