// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-picture {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 12.5px;
  background: black;
}

.user-container {
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  background-color: #2F3136;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
}


.user-items {
  height: 25px;
  width: 100%;
  padding: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.user-image-name {
  font-size: 20px;
  overflow: hidden;
  width: 240px;
  display: flex;
  justify-content: start;
  align-items: center
}

.user-icons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}

.owner-icon {
  height: 25px;
  width: 25px;
  background-image: url(https://vignette.wikia.nocookie.net/nintendo/images/6/67/Bowser_icon.svg/revision/latest/scale-to-width-down/412?cb=20160611230059&path-prefix=en);
  background-repeat: no-repeat;
  background-size: contain;
}

.not-owner-icon {
  height: 25px;
  width: 25px;
  background-image: url(http://icons.iconarchive.com/icons/sirea/angry-birds/256/Pig-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.user-counter {
  width: 100%;
      align-items: center;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
      box-sizing: border-box;
      color: #fff;
      display: flex;
      font-family: 'Roboto', sans-serif;
      font-weight: 500;
      height: 48px;
      padding: 0 12px 0 16px;
      transition: background-color .15s ease;
      z-index: 3;
      position: relative;
      font-size: 100%;
      font-style: inherit;
      justify-content: space-between;
}
