// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-picture {
  height: 25px;
  width: 25px;
  margin-right: 20px;
  box-sizing: border-box;
  border-radius: 12.5px;
  background: black;
}

.user-container {
  width: 300px;
}

.user-icons {
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.owner-icon {
  height: 15px;
  width: 15px;
  margin-left: 5px;
}
