// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info-container {
  display: flex;
  flex-direction: column;
  max-width: 90px;
}

.user-info-username {
  display: block;
  max-width: 84px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.user-info-id {
  display: block;
  font-size: 10px;
  margin-top: 4px;
  opacity: .4;
}


.profile-picture {
  height: 30px;
  width: 30px;
  // margin-right: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #7289da;
}

.group-dm-picture {
  background-image: url('groupchat.svg');
}

.user-container {
  height: 100%;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  width: 240px;
  background-color: #2F3136;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 2px 0 rgba(0, 0, 0, 0.06);
  overflow-x: hidden;
  // overflow-y: scroll;
    -ms-overflow-style: none;
  &::-webkit-scrollbar-track {
     border-radius: 20px;
     margin-top: 5px;
     margin-bottom: 10px;
     right: 20px;
     background-color: #2F3136;
     visibility: hidden;
     // border: 3px solid #36393E;
   }
  &::-webkit-scrollbar {
    // display: none;
    right: 2px;
     width: 5px;
     // border-right: 10px;
     border-radius: 5px;
     visibility: hidden;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #202225;
    visibility: hidden;
    // border: 3px solid #36393e;
  }
  &:hover {
    &::-webkit-scrollbar {
      display: contents;
      visibility: visible;
    };
    &::-webkit-scrollbar-track {
      display: contents;
      visibility: visible;
    };
    &::-webkit-scrollbar-thumb {
      display: contents;
      visibility: visible;
    };
  }
}

.user-items {
  border-radius: 8px;
  height: 40px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  // width: 100%;
  justify-content: space-between;
  cursor: pointer;
  &:hover {
    background-color: #36393f;
  }
}

.user-image-name {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  width: 240px;
  display: flex;
  justify-content: start;
  align-items: center;
  color: lightgray;
}

.user-name {
  max-width: 200px;
  text-overflow: ellipsis;
}

.owner-icon {
  margin-left: 8px;
  height: 16px;
  width: 16px;
  background-image: url(https://vignette.wikia.nocookie.net/nintendo/images/6/67/Bowser_icon.svg/revision/latest/scale-to-width-down/412?cb=20160611230059&path-prefix=en);
  background-repeat: no-repeat;
  background-size: contain;
}

.not-owner-icon {
  height: 25px;
  width: 25px;
  background-image: url(http://icons.iconarchive.com/icons/sirea/angry-birds/256/Pig-icon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.user-counter {
  padding-top: 20px;
  padding-left: 16px;
  padding-right: 8px;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  color: #72767d;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  transition: background-color .15s ease;
  z-index: 3;
  position: relative;
  font-style: inherit;
  align-items: center;
  margin-bottom: 10px;
}

.user-list-container {
  height: auto;
  box-sizing: border-box;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: left;
  overflow-x: hidden;
  overflow-y: scroll;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
  &::-webkit-scrollbar-track{
     border-radius: 20px;
     margin-top: 5px;
     margin-bottom: 10px;
     left: 20px;
     background-color: #2F3136;
     border: 3px solid #36393E;
   }
  &::-webkit-scrollbar {
     width: 14px;
     border-right: 10px;
     border-radius: 20px;
   }
  &::-webkit-scrollbar-thumb {
    border-radius: 15px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background: #202225;
    border: 3px solid #36393e;
  }
}
